name: checks

on: [push]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-node@v6
      with:
        node-version: '25.2.1'

    - name: Install packages
      run: npm ci

    - name: Check fromatting with prettier
      run: npm run prettier

    - name: Lint with eslint
      run: npm run lint
